*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
}
header,footer{
    background-color:red;
    height: 60px;
   overflow: hidden;
}
#logo{    
    width: 100px;
    height: 55px ;
    padding: 3px;
}
main{
    margin-left: 9%;
    margin-top: 14px;
    width: 90%;
}
#searchformid{
    text-align: center;
    width: 55%;
    margin-left: 10%;
    margin-bottom: 20px;
}
#search{
    width: 80%;
    height: 30px;
}
#searchformid >button,.prev-next>input{
    height: 35px;
    width: 70px;
    background-color: red;
    color: white;
    
}
.video{
    width: 220px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    float: left;
}

.video >div{
    margin-right: 10px;
    width: 200px;
}
.videosnap{
width: 200px;
}
.Title,.channelTitle{
    font-size: small;
}
.publishTime,.description{
    font-size: x-small;
    color:grey; 
}
.channelTitle{
    color: gray;
}
.description{
    margin-bottom: 10px;
}
footer{
    visibility: hidden;
}

