*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
}
header,footer{
    background-color:red;
    height: 60px;
   overflow: hidden;
}
#logo{    
    width: 100px;
    height: 55px ;
    padding: 3px;
}
main{
    margin-left: 9%;
    margin-top: 14px;
    width: 90%;
}
#searchformid{
    text-align: center;
    width: 55%;
    margin-left: 10%;
    margin-bottom: 20px;
}
#search{
    width: 80%;
    height: 30px;
}
#searchformid >button{
    height: 35px;
    width: 70px;
}

.video{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float: left;
}
.videocontainer{
    flex-wrap: wrap;
}
.video >div{
    margin-right: 10px;
}
.videosnap{
width: 200px;
}
.Title,.channelTitle{
    font-size: small;
}
.publishTime,.description{
    font-size: x-small;
    color:grey; 
}
.channelTitle{
    color: gray;
}
.description{
    margin-bottom: 10px;
}
footer{
    visibility: hidden;
}

