*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header,footer{
    background-color:red;
    height: 60px;
   
}
#logo{    
    width: 100px;
    height: 55px ;
    padding: 3px;
}
main{
    margin-left: 9%;
    margin-top: 14px;
    width: 90%;
}
#searchformid{
    text-align: center;
    width: 55%;
    margin-left: 10%;
    margin-bottom: 20px;
}
#search{
    width: 80%;
    height: 30px;
}
#searchformid >button{
    height: 35px;
    width: 70px;
}

.video{
    width: 300px;
    display: flex;
    flex-direction: column;
    float: left;
}
.video >div{
    margin-right: 10px;
}
.videosnap{
width: 300px;
}
footer{
    visibility: hidden;
}

